
<!-- Главное меню стран -->
<button mat-button [matMenuTriggerFor]="countryMenu">Countries</button>

<mat-menu #countryMenu="matMenu">
  <ng-container *ngFor="let country of menuItems">
    <!-- Кнопка для каждой страны с подменю для регионов -->
    <button mat-menu-item [matMenuTriggerFor]="regionsMenu">
      {{ country.name }}
    </button>

    <!-- Подменю для регионов каждой страны -->
    <mat-menu #regionsMenu="matMenu">
      <ng-container *ngFor="let region of country.regions">
        <button *ngIf="region.name" mat-menu-item  [matMenuTriggerFor]="massivesMenu">
          {{ region.name }}</button>

        <!-- Подменю для массивов каждого региона -->
        <mat-menu #massivesMenu="matMenu">
          <ng-container *ngFor="let massive of region.massives">
            <button *ngIf="massive.name && massive.id" mat-menu-item (click)="goToMassive(massive.id.toString())">
              {{ massive.name }}
            </button>
          </ng-container>
        </mat-menu>

      </ng-container>
    </mat-menu>
  </ng-container>
</mat-menu>

