<!--<p>massive works!</p>-->
<!--<div>Массив: {{massiveData?.name}}</div>-->

<!--<p>Massive Data:</p>-->
<app-header></app-header>


<div *ngIf="massiveData">
  <h2>{{ massiveData.name }}</h2>

  <div class="Complexity">Категории: 5a- 5b 5c 6a 6b 6c 7a 7b 7c+</div>
  <p>Число этих трасс на массиве 5  6  7</p>


  <p>{{ massiveData.describe }}</p>

  <!-- Отображение картинки -->
  <img *ngIf="massiveData.picture" [src]="massiveData.picture" alt="Massive Image">

  <!-- Координаты на карте -->
  <div *ngIf="massiveData.map">
    <p>Map Point: {{ massiveData.map }}</p>
  </div>


  <!-- Отображение списка секторов -->
  <div *ngIf="massiveData.sectors?.length">
    <h3>Sectors:</h3>
    <ul>
      <li *ngFor="let sector of massiveData.sectors" (click)="onSectorPage(sector.id)">
        <strong>{{ sector.name }}</strong> (ID: {{ sector.id }})
      </li>
    </ul>
  </div>
</div>

<!-- Показать сообщение, если данных нет -->
<div *ngIf="!massiveData">
  <p>No massive data available.</p>
</div>
