// Основные цвета из палитры
$primary-color: #BC986A;
$secondary-color: #FBEEC1;
$accent-color: #DAAD86;
$text-color: #8D8741;
$highlight-color: #659DBD;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/core/theming/all-theme';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

// Фон страницы
body {
  background-color: $secondary-color;
}

// Контейнер для основного содержимого
.wr-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-left: 200px; // Отступ для бокового меню
  transition: margin 0.3s ease;
}

// Заголовок сектора
.h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: $text-color;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 0.5rem;
  margin-top: 1.3rem;
}

// Стиль для изображений сектора
.routePic img {
  border: 3px solid $accent-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, width 0.3s ease;
  cursor: pointer;
  width: 300px;
  max-width: 100%;
  height: auto;
}

// Увеличенное изображение
.routePic img.zoomed {
  width: 100%;
  transform: scale(1.1);
  cursor: zoom-out;
}

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0.5rem 0;
      font-size: 1.1rem;
      color: $text-color;
      cursor: pointer;

      &:hover {
        color: $highlight-color;
        text-decoration: underline;
    }
  }
}
  .routePic img {
    border: 3px solid $accent-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, width 0.3s ease;
    cursor: pointer;
    width: 400px;
    max-width: 10%;
    height: auto;
  }

  .routePic img.zoomed {
    width: 100%;
    transform: scale(1.4);
    cursor: zoom-out;
  }


// Список категорий сложности трасс
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;

  li {
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
  }
}

// Описание сектора и карты
.wr-describe, .wr-map {
  color: $text-color;
  line-height: 1.6;
  padding: 1rem;
  border: 1px solid $accent-color;
  border-radius: 8px;
  background-color: lighten($secondary-color, 10%);
}

// Контейнер для row
.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// Аккордеон для отображения маршрутов
.mat-accordion {
  width: 100%;

  .mat-expansion-panel-header {
    //background-color: $highlight-light;
    background-color: lighten($highlight-color, 15%);
    color: $text-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $highlight-color;
    }
  }
}







