// Основной стиль для Angular Material и базовая стилизация
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/core/theming/all-theme';
//@include mat-core();

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

// Контейнер для основного содержимого
.wr-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-left: 200px; // Оставляем место для бокового меню
  transition: margin 0.3s ease;
}

// Стили для заголовка сектора
.h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.routePic img {
  transition: transform 0.3s ease, width 0.3s ease;
  cursor: pointer;
  width: 300px;
  max-width: 100%;
  height: auto;
}

.routePic img.zoomed {
  width: 100%;
  transform: scale(1);
  cursor: zoom-out;
}
@media (max-width: 768px) {
  .wr-main {
    margin-left: 200px;
    padding: 1rem;
  }

  .routePic img {
    max-width: 100%;
  }
}

// Список категорий сложности трасс
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  font-size: 1rem;

  li {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-weight: bold;
  }
}

// Описание сектора и карты
.wr-describe, .wr-map {
  color: #555;
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

// Многострочный текст и карта
.mat-accordion {
  width: 100%;
}

// Стиль для row-контейнеров
.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-weight: bold;
  }
}

