/* You can add global styles to this file, and also import other style files */
// Основной стиль для Angular Material и базовая стилизация
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/core/theming/all-theme';
//@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  font-family: Roboto, sans-serif;
}
